<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.codewebuild.cobrowseplugin" version="1.0.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>CobrowsePlugin</name>
	<js-module name="CobrowsePlugin" src="www/CobrowsePlugin.js">
		<clobbers target="cordova.plugins.CobrowsePlugin" />
	</js-module>
	<platform name="android">
        <framework src="io.cobrowse:cobrowse-sdk-android:2.+" />
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="CobrowsePlugin">
				<param name="android-package" value="com.codewebuild.cobrowseplugin.CobrowsePlugin" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />
		<source-file src="src/android/CobrowsePlugin.java" target-dir="src/com/codewebuild/cobrowseplugin/CobrowsePlugin" />
	</platform>
	<platform name="ios">
        <podspec>
            <pods use-frameworks="true">
                <pod name="CobrowseIO" git="https://github.com/cobrowseio/cobrowse-sdk-ios-binary.git" tag="latest" />
            </pods>
        </podspec>
		<config-file parent="/*" target="config.xml">
			<feature name="CobrowsePlugin">
				<param name="ios-package" value="CobrowsePlugin" />
			</feature>
		</config-file>
		<source-file src="src/ios/CobrowsePlugin.m" />
	</platform>
</plugin>